
@font-face {
	font-family: 'NixieOne-Regular';
	src: url('../fonts/NixieOne-Regular.eot');
	src: url('../fonts/NixieOne-Regular.woff') format('woff'), url('../fonts/NixieOne-Regular.ttf') format('truetype'), url('../fonts/NixieOne-Regular.svg') format('svg');
}
body {
	background: #000 url(../images/bg-body.png) no-repeat top center;
	color: #3F0065;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1;
	margin: 0;
	padding: 0;
}
#header {
	height: 673px;
	margin: 0 auto;
	padding: 0;
	width: 950px;
}
#header .header {
	margin: 0;
	overflow: hidden;
	padding: 48px 0 98px;
}
#header .header ul {
	display: inline-block;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#header .header ul li {
	float: left;
	list-style: none;
	margin: 0 12px 0 0;
	padding: 0;
}
#header .header ul li a {
	color: #f2427f;
	display: block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 126px;
}
#header .header ul li a:hover {
	color: #3F0065;
}
#header .header ul li.selected a {
	background: url(../images/interface.png) no-repeat -112px -43px;
	color: #3F0065;
}
#header .header form {
	display: inline-block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#header .header form input {
	background: url(../images/interface.png) no-repeat;
	border: 0;
	display: block;
	float: left;
	height: 36px;
	margin: 0;
}
#header .header form #email {
	background-position: 0 0;
	color: #342951;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: 36px;
	padding: 0 5px;
	width: 137px;
}
#header .header form #submit {
	background-position:  -153px 0;
	cursor: pointer;
	margin: 0 0 0 15px;
	padding: 0;
	width: 85px;
}
#header .header form #submit:hover {
	background-position: -153px -104px;
}
#header .body, #header .footer {
	margin: 0 0 0 41px;
	padding: 0;
	width: 485px;
}
#header .body a.logo {
	display: block;
	margin: 0;
	padding: 0;
}
#header .body a.logo img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#header .body p {
	color: #d8ebe8;
	line-height: 18px;
	margin: 0;
	padding: 12px 20px 12px 133px;
}
#header .body p a {
	color: #d8ebe8;
}
#header .body p a:hover {
	color: #e73ccc;
}
#header .body a.download {
	background: url(../images/interface.png) no-repeat 233px -43px;
	color: #7a4373;
	display: block;
	font-size: 16px;
	font-style: italic;
	height: 33px;
	line-height: 26px;
	margin: 0 0 0 133px;
	padding: 0;
	text-decoration: none;
	text-transform: capitalize;
	width: 336px;
}
#header .body a.download:hover {
	background-position: 233px -104px;
	color: #e73ccc;
}
#header .footer {
	overflow: hidden;
	padding: 86px 0 0;
}
#header .footer p:before {
	content: url(../images/quot-open.png);
}
#header .footer p {
	color: #727da5;
	clear: both;
	font-style: italic;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
#header .footer p:after {
	content: url(../images/quot-close.png);
}
#header .footer p a {
	color: #727da5;
}
#header .footer p a:hover {
	color: #d8ebe8;
}
#header .footer > a {
	color: #727da5;
	display: inline-block;
	float: right;
	margin: 22px 0 0;
	padding: 0;
	text-decoration: none;
}
#header .footer > a:hover {
	color: #d8ebe8;
}
#body {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 60px;
	width: 950px;
}
#body .content {
	float: left;
	margin: 0 0 0 37px;
	padding: 0;
	width: 498px;
}
#body .content > a {
	display: block;
	margin: 0 0 25px;
	padding: 0;
}
#body .content > a:hover {
	opacity: 0.9;
}
#body .content > a img {
	border: 1px solid #180048;
	display: block;
}
#body .content p {
	line-height: 18px;
	margin: 0;
	padding: 0 0 20px;
	text-align: justify;
}
#body .content p a {
	color: #716076;
}
#body .content p a:hover {
	color: #c396d0;
}
#body .content > b {
	display: block;
	font-style: italic;
	line-height: 18px;
}
#body .content h2 {
	background: #716076;
	color: #f3f3f3;
	font-family: 'NixieOne-Regular';
	font-size: 26px;
	font-style: italic;
	font-weight: normal;
	height: 48px;
	letter-spacing: 0.2em;
	line-height: 48px;
	margin: 0;
	padding: 0 0 0 12px;
	text-transform: uppercase;
}
#body .content div {
	background: #240e36;
	margin: 0;
	overflow: hidden;
	padding: 0 12px;
}
#body .content div h3 {
	color: #5a5f8e;
	font-size: 18px;
	margin: 0;
	padding: 17px 0 15px;
	text-transform: capitalize;
}
#body .content div > a {
	display: block;
	margin: 0 0 20px;
	padding: 0;
}
#body .content div > a:hover {
	opacity: 0.8;
}
#body .content div > a img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#body .content div p {
	clear: both;
	color: #b8b6b6;
	margin: 0;
	padding: 0 6px 15px;
}
#body .content div p a {
	color: #b8b6b6;
}
#body .content div p a:hover {
	color: #5a5f8e;
}
#body .content div a.more {
	color: #5a5f8e;
	display: inline-block;
	float: right;
	font-style: italic;
	margin: 0 19px 0 0;
	padding: 0;
	text-transform: capitalize;
}
#body .content div a.more:hover {
	color: #c4a2ce;
}
#body .content > ul {
	background: #240e36;
	margin: 0;
	padding: 0 12px;
}
#body .content > ul li {
	list-style: none;
	margin: 0;
	padding: 12px 0 0;
}
#body .content > ul li a {
	background: #170724;
	color: #5a5f8e;
	display: block;
	height: 48px;
	line-height: 48px;
	margin: 0;
	padding: 0 12px;
	text-decoration: none;
}
#body .content > ul li a b {
	display: inline-block;
	font-size: 16px;
	padding: 0 46px 0 0;
}
#body .content > ul li a i {
	color: #9c83a4;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}
#body .content > ul li a:hover {
	background: #452757;
}
#body .content > ul li a:hover i {
	color: #fae9ff;
}
#body .content .paging {
	text-align: center;
	padding: 40px 10px;
}
#body .content .paging ul {
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
#body .content .paging ul li {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0 3px;
	padding: 0;
}
#body .content .paging ul li a {
	color: #726177;
	display: inline-block;
	font-size: 12px;
	padding: 2px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
}
#body .content .paging ul li.first a {
	background: url(../images/interface.png) no-repeat -33px -83px;
	padding: 0 0 0 27px;
}
#body .content .paging ul li.last a {
	background: url(../images/interface.png) no-repeat 37px -83px;
	padding: 0 27px 0 0;
}
#body .content .paging ul li a:hover, #body .content .paging ul li.selected a {
	color: #b8b6b6;
}
#body .sidebar {
	float: right;
	margin: 0 37px 0 0;
	padding: 0;
	width: 342px;
}
#body .sidebar div {
	margin: 0 0 36px;
	padding: 0;
}
#body .sidebar div h3 {
	background: EC7B63;
	color: #f3f3f3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-style: italic;
	font-weight: normal;
	height: 48px;
	letter-spacing: 0.2em;
	line-height: 48px;
	margin: 0;
	padding: 0 0 0 18px;
	text-transform: uppercase;
}
#body .sidebar div ul {
	margin: 0;
	padding: 2px 0 0;
}
#body .sidebar div ul li {
	list-style: none;
	margin: 0;
	padding: 11px 0 0;
}
#body .sidebar div ul li a {
	background: #240e36;
	color: #5a5f8e;
	display: block;
	height: 48px;
	line-height: 48px;
	margin: 0;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
}
#body .sidebar div ul li a:hover {
	background: #452757;
}
#body .sidebar div ul li a b {
	font-size: 16px;
}
#body .sidebar .album {
	background: #240e36;
	text-align: center;
}
#body .sidebar .album h3 {
	text-align: left;
}
#body .sidebar .album a {
	display: inline-block;
	margin: 15px auto;
	padding: 0;
}
#body .sidebar .album a:hover {
	opacity: 0.8;
}
#body .sidebar .album a img {
	border: 3px solid #fff;
	border-radius: 4px;
	display: block;
	margin: 0;
	padding: 0;
}
#body .sidebar .album span {
	color: #5a5f8e;
	display: block;
	margin: 0;
	padding: 15px;
	text-align: left;
}
#body .sidebar .connect {
	background: #716076;
	height: 48px;
	overflow: hidden;
}
#body .sidebar .connect h3 {
	display: inline-block;
	float: left;
}
#body .sidebar .connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	float: right;
	height: 30px;
	margin: 9px 13px 0 0;
	padding: 0;
	text-indent: -99999px;
	width: 34px;
}
#body .sidebar .connect #googleplus {
	background-position: 0 -80px;
}
#body .sidebar .connect #facebook {
	background-position: 0 -40px;
}
#body .sidebar .connect #twitter {
	background-position: 0 0;
}
#footer {
	background: #240e36;
	margin: 0 auto;
	padding: 12px 20px;
	width: 910px;
}
#footer p {
	color: #726177;
	font-size: 10px;
	margin: 0;
	padding: 0;
	text-align: center;
}
#footer p a {
	color: #726177;
	text-decoration: none;
}
#footer p a:hover {
	color: #d8ebe8;
}
*{
  margin: 0;
  padding: 0;
}
section{
  min-height: 100vh;
  background-image: url('background.jpg');
  background-size: cover;
}
.container{
  padding-top: 4%;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  width: 150px;
  height: 150px;
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  animation: 2s scale linear;
}
#box1{
  transform-origin: bottom right;
  border-radius: 0px 100px 0px 100px;
  background: linear-gradient(160deg, #ee0979 0%, #ff6a00 100%);
  }
#box2{
  transform-origin: bottom left;
  border-radius: 100px 0px 100px 0px;
  background: linear-gradient(220deg, #ee0979 0%, #ff6a00 100%);
  }
#box3{
  transform-origin: top right;
  border-radius: 100px 0px 100px 0px;
  background: linear-gradient(30deg, #ee0979 0%, #ff6a00 100%);
  }
#box4{
  transform-origin: top left;
  border-radius: 0px 100px 0px 100px;
  background: linear-gradient(320deg, #ee0979 0%, #ff6a00 100%);
  }
  .circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #ffef00;
    z-index: 100;
    margin-top: -298px;
  }
.line{
  background: #0f9b0f;
  margin-top: -130px;
  width: 25px;
  height: 310px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.pot{
  background: #7a2828;
  border-radius: 0px 0px 40px 40px;
  width: 250px;
  height: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@keyframes scale {
  0% {
    scale: 0.1;
  }
  100% {
    scale: 1;
  }
}
* {
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 90vh;
    max-height: 90vh;
    margin: 0;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
}

body a {
    color: inherit;
}

body a:not(:hover) {
    text-decoration: none;
}

body .content {
    overflow: hidden;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: calc(100% - 80px);
    z-index: 9;
}

body .content .lyrics {
    padding: 50vh 0;
    min-height: calc(100vh - 80px);
    width: calc(100% - 40px);
    margin: 0 20px;
    text-align: center;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    position: relative;
}

body .content .lyrics>div {
    position: relative;
    font-size: 40px;
    line-height: 80px;
    color: #454545;
    font-weight: bold;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

body .content .lyrics>div.highlighted {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
}

body .player {
    z-index: 10;
    background: #F9F9F9;
    color: #000;
    min-height: 140px;
    max-height: 140px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    outline: none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 30px 0 30px 0;
}

@media (min-width: 310px) and (max-width: 460px) {
    .songs {
        font-size: 10px;
        font-weight: 600;
    }
    body .content .lyrics {
        padding: 50vh 0;
        min-height: calc(100vh - 80px);
        width: calc(100% - 40px);
        margin: 0 10px;
        text-align: center;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        position: relative;
        word-wrap: break-word;
        font-size: 14px;
    }
    body .content .lyrics>div {
        position: relative;
        font-size: 14px;
        line-height: 30px;
        color: #454545;
        font-weight: bold;
        -webkit-transition: all 0.25s;
        word-wrap: break-word;
        transition: all 0.25s;
    }
    body .content .lyrics>div.highlighted {
        color: #fff;
        font-weight: bold;
        word-wrap: break-word;
        font-size: 14px;
    }
    body .player {
        z-index: 10;
        background: #F9F9F9;
        color: #000;
        min-height: 140px;
        max-height: 140px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        outline: none;
        margin-bottom: 20px;
        margin-right: 14px;
        margin-left: 14px;
        border-radius: 30px 0 30px 0;
    }
}

body .player .left {
    width: 200px;
    background-image: url("icon.jpg");
    background-size: cover;
    border-top-left-radius: 30px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}

body .player .right {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

body .player .right .top {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 10px;
}

.songs {
    font-size: 12px;
    font-weight: 600;
}

body .player .right .bottom {
    display: -webkit-box;
    display: flex;
}

body .player .right .bottom video {
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 32px;
    outline: none;
    margin-bottom: 20px;
}

@-webkit-keyframes pop-in {
    0%,
    95% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes pop-in {
    0%,
    95% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.g-snows {
    width: 100vw;
    height: 100vh;
    cursor: none;
    background-color: rgba(238, 234, 234, 0);
}

.g-snows>li {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 100;
    border-radius: 100%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-animation-name: snow-drop;
    animation-name: snow-drop;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.g-snows>li:nth-child(1) {
    left: 40%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 6810ms;
    animation-duration: 6810ms;
    -webkit-animation-delay: 1393ms;
    animation-delay: 1393ms;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.g-snows>li:nth-child(2) {
    left: 80%;
    width: 8px;
    height: 8px;
    -webkit-animation-duration: 5005ms;
    animation-duration: 5005ms;
    -webkit-animation-delay: 123ms;
    animation-delay: 123ms;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.g-snows>li:nth-child(3) {
    left: 28%;
    width: 13px;
    height: 13px;
    -webkit-animation-duration: 10000ms;
    animation-duration: 10000ms;
    -webkit-animation-delay: 4283ms;
    animation-delay: 4283ms;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.g-snows>li:nth-child(4) {
    left: 16%;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: 7139ms;
    animation-duration: 7139ms;
    -webkit-animation-delay: 4935ms;
    animation-delay: 4935ms;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.g-snows>li:nth-child(5) {
    left: 28%;
    width: 13px;
    height: 13px;
    -webkit-animation-duration: 10000ms;
    animation-duration: 10000ms;
    -webkit-animation-delay: 4283ms;
    animation-delay: 4283ms;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.g-snows>li:nth-child(6) {
    left: 16%;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: 7139ms;
    animation-duration: 7139ms;
    -webkit-animation-delay: 4935ms;
    animation-delay: 4935ms;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.g-snows>li:nth-child(5) {
    left: 21%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 6939ms;
    animation-duration: 6939ms;
    -webkit-animation-delay: 3632ms;
    animation-delay: 3632ms;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

@-webkit-keyframes snow-drop {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0.5;
        margin-left: 0;
    }
    10% {
        margin-left: 15px;
    }
    20% {
        margin-left: 20px;
    }
    25% {
        -webkit-transform: translate(0, 166.6666666667px);
        transform: translate(0, 166.6666666667px);
        opacity: 0.75;
    }
    30% {
        margin-left: 15px;
    }
    40% {
        margin-left: 0;
    }
    50% {
        -webkit-transform: translate(0, 333.3333333333px);
        transform: translate(0, 333.3333333333px);
        opacity: 1;
        margin-left: -15px;
    }
    60% {
        margin-left: -20px;
    }
    70% {
        margin-left: -15px;
    }
    75% {
        -webkit-transform: translate(0, 500px);
        transform: translate(0, 500px);
        opacity: 0.5;
    }
    80% {
        margin-left: 0;
    }
    100% {
        -webkit-transform: translate(0, 666.6666666667px);
        transform: translate(0, 666.6666666667px);
        opacity: 0;
    }
}

@keyframes snow-drop {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0.5;
        margin-left: 0;
    }
    10% {
        margin-left: 15px;
    }
    20% {
        margin-left: 20px;
    }
    25% {
        -webkit-transform: translate(0, 166.6666666667px);
        transform: translate(0, 166.6666666667px);
        opacity: 0.75;
    }
    30% {
        margin-left: 15px;
    }
    40% {
        margin-left: 0;
    }
    50% {
        -webkit-transform: translate(0, 333.3333333333px);
        transform: translate(0, 333.3333333333px);
        opacity: 1;
        margin-left: -15px;
    }
    60% {
        margin-left: -20px;
    }
    70% {
        margin-left: -15px;
    }
    75% {
        -webkit-transform: translate(0, 500px);
        transform: translate(0, 500px);
        opacity: 0.5;
    }
    80% {
        margin-left: 0;
    }
    100% {
        -webkit-transform: translate(0, 666.6666666667px);
        transform: translate(0, 666.6666666667px);
        opacity: 0;
    }
}

.fl-fl {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -160px;
    z-index: 9184901;
    font-weight: bold;
    font-size: 10px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.fa {
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
}

.fl-fl:hover {
    right: 0;
}

.fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
}

.float-fb {
    top: 100px;
    background: #4e89ae;
    font-weight: bold;
}

.float-ig {
    top: 160px;
    background: #ed6663;
    font-weight: bold;
}

.float-web {
    top: 220px;
    background: #ffaa71;
    font-weight: bold;
}

.float-git {
    top: 280px;
    background: #505050;
    font-weight: bold;
}

